<div cdkDropListGroup>
  <div class="example-container">
    <div>
      <h3>Barra de herramientas</h3>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" id="btnBold" (change)="executeCommand('bold')">Bold</mat-button-toggle>
        <mat-button-toggle value="italic" id="btnItalic" (change)="executeCommand('italic')">Italic</mat-button-toggle>
        <mat-button-toggle value="underline" id="btnUnderline" (change)="executeCommand('underline')">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <h3>Componentes</h3>
      <div class="example-list"
        cdkDropList
        [cdkDropListData]="components"
        cdkDropListSortingDisabled
        cdkDropList

      >
        @for (item of components; track item) {
          <div cdkDrag>
            <mat-form-field class="example-full-width">
              <mat-label>{{item}}</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-form-field>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="example-container">
    <legend>workSpace</legend>
    <div class="example-boundary"
      cdkDropList
      [cdkDropListData]="workSpace"
      (cdkDropListDropped)="drop2($event)"
    >
      <!-- <div *CdkDragPlaceholder>XD</div> -->
      @for (item of workSpace; track item; let idx = $index) {
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
          <mat-form-field class="example-full-width">
            <mat-label>{{item}}</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" (keydown)="keydown()" (dblclick)="accion($event)">
          </mat-form-field>
        </div>
      } @empty {
        <h6>Arrastra un componente</h6>
      }
    </div>
  </div>
</div>


<div class="container">
  <button (click)="addDraggableLabel()">Añadir etiqueta arrastrable</button>
  <div cdkDropList
    [cdkDropListData]="draggableLabels"
    (cdkDropListDropped)="drop($event)">
    @for (label of draggableLabels; track label;) {

      <app-draggable-item [label]="label"></app-draggable-item>
    }
  </div>
</div>
