<div class="list-group">
  <div class="example-container">
    <div>
      <h3>Barra de herramientas</h3>
      <input class="color-picker" #colorPicker type="color" (change)="changeProperties('color', colorPicker.value)">

      <button (click)="changeProperties('bold')">
        <mat-icon aria-hidden="false" aria-label="format_bold" fontIcon="format_bold"/>
      </button>
      <button (click)="changeProperties('italic')">
        <mat-icon aria-hidden="false" aria-label="format_italic" fontIcon="format_italic"/>
      </button>
      <button (click)="changeProperties('underline')">
        <mat-icon aria-hidden="false" aria-label="format_underlined" fontIcon="format_underlined"/>
      </button>
      <div class="button-link">
        <button (click)="changeProperties('link', urlInput.value)">
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="link"/>
        </button>
        <input #urlInput type="text" placeholder="Enter URL" style="height: 27px;">
      </div>
    </div>
    <div>
      <h3>Componentes</h3>
      <button (click)="addDraggableComponent('label')">
        <mat-icon aria-hidden="false" aria-label="text_fields" fontIcon="text_fields"/>
      </button>
      <input type="file" (change)="onImageSelected($event)">
    </div>
  </div>

  <div class="example-boundary">
    @for (type of workSpace; track type; let idx = $index) {
      <app-draggable-item
        [label]="type.label"
        [imageUrl]="type.imageUrl"
        [spanId]="'editable-span-' + idx"
        [dragPosition]="type.position"
        (select)="handleSelected($event)"
        (remove)="removeDraggableComponent($event, idx)"
        (positionChange)="updatePosition($event, 'editable-span-' + idx)"
      />
    } @empty {
      <div class="empty-state">
        <h6>Agrega un componente</h6>
      </div>
    }
  </div>
  <!-- <div class="html-viewer example-boundary" [innerHTML]="htmlContent"></div> -->
</div>
