[cdkDrag] {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #fff;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  display: inline-flex;
  margin-right: 25px;
  z-index: 1;
}

[cdkDrag]:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-handle {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 14px;
  height: 14px;
}

::ng-deep .custom-link-class {
  cursor: pointer;
}

.custom-span {
  width: 100%;
  height: auto !important;
}

.custom-image {
  display: block;
  width: 100%;
  height: auto;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  width: 100%;
  cursor: row-resize;
}

.resize-handle-top {
  top: 0;
}
.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  width: 5px;
  cursor: col-resize;
}
.resize-handle-left {
  left: 0;
}
.resize-handle-right {
  right: 0;
}
svg {
  padding-left: 12px;
  padding-top: 18px;
}
svg:hover {
  fill: #ea491a;
  transition: background-color 2s 1000ms;
}
